{% extends "base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}

    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="container mt-5">
	<h4 class="card-title mt-3 text-center">PanOrbit Services LLP Project</h4>
	<div class="row">
		<div class="form-group input-group col-sm-10">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-search"></i> </span>
			 </div>
			<input name="q" id="tags" class="form-control search" placeholder="Search for city or countries or language" type="text">
		    <script type="text/javascript">
				
					$(function() {
					  $("#tags").autocomplete({
						source: "{% url 'company-autocomplete' %}",
						minLength: 2,
					  });
					});

					{% comment %} $("#tags").autocomplete({
						source: function(request, response) {
							$.ajax({
								url:"{% url 'company-autocomplete' %}",
								dataType: "json",
								data: {
									term : request.term,
									
								},
								success: function(data) {
									response(data);
								}
							});
						}
					}); {% endcomment %}
					
            </script>			
			
		</div>
		
		<div class="form-group col-sm-2">
			<button type="submit" class="btn btn-outline-success" id="search_submit"> Search  </button>
		</div> 
    
	</div>
</div>
<div class="container search_results">
</div>

{% endblock %}
